### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-files
*.bclicense
*.flf
#Test results file
TestResults.xml00_raw_data/GSE110496/GSE110496_RAW.tar
01_processed_data/anndata_objects/adata_processed.h5ad
01_processed_data/anndata_objects/adata_raw.h5ad
01_processed_data/anndata_objects/adata_filtered.h5ad
.git/objects/db/b6c06ad18bcbb97167d160293022d63f0ae679
00_raw_data/GSE110496/GSE110496_RAW.tar
01_processed_data/anndata_objects/adata_processed.h5ad
01_processed_data/anndata_objects/adata_raw.h5ad
01_processed_data/anndata_objects/adata_filtered.h5ad
.git/objects/db/b6c06ad18bcbb97167d160293022d63f0ae679
00_raw_data/GSE110496/GSE110496_RAW.tar
01_processed_data/anndata_objects/adata_processed.h5ad
01_processed_data/anndata_objects/adata_raw.h5ad
01_processed_data/anndata_objects/adata_filtered.h5ad
